@model BC.Intranet.Models.HomeViewModel

<div class="jumbotron">
    <h1>Welcome to Mowido Admin</h1>
    <p class="lead"></p>
    <p><a href="/Product/CreateProduct" class="btn btn-primary btn-lg">Create product &raquo;</a></p>
</div>
