@model BC.Web.Models.BaseViewModel

<div class="row">
    <div class="container about">
        <div class="col-md-8">
            <h1>@Model.Header</h1>
            <h2>@Resources.Resources.About_TextHeader</h2>
            <p>@Html.Raw(Resources.Resources.About_Content)</p>
        </div>
    </div>
</div>

