@model BC.Web.Models.BaseViewModel

<div class="row">
    <div class="container about guide">
        <div class="col-md-8">
            <h1>@Model.Header</h1><br />
            <p>
                Utbudet av hus i Italien består ofta av äldre hus på landsbygden, vanligtvis av byhus i sten eller puts i medeltida städer. 
                Givetvis finns det nybyggda hus och lägenheter som då är byggda i den regionens typiska byggnadsstil. 
                I Italiens stora städer finns nyare hus och lägenheter i de yngre stadsdelarna och i de äldre stadsdelarna en mix av sekelskifteshus och medeltid bebyggelse. 
                Din mäklare har stor erfarenhet av att hjälpa kunder köpa hus och lägenheter i Italien.
            </p>
            <p>
                På <a href="/">Mowido.se</a> hittar du enkelt och snabbt din drömbostad i Italien. Vi samarbetar med många mäklare, t.ex. 
                Fastighetsbyrån City & Country Homes, som vägleder dig i de ekonomiska och juridiska frågor som kan uppstå.
            </p>
            <br />
            <h2>Processen för att köpa bostad i Italien </h2>
            <p>
                Spekulanten börjar med att lägga ett bud på det hus, fastighet eller ägarlägenhet, hon eller han är intresserad av. 
                Sedan accepteras budet av säljaren eller så förhandlas det fram till ett överenskommet pris. 
                Sedan upprättas ett preliminärt köpekontrakt som skrivs på både på italienska och engelska, som är ett privat avtal mellan säljaren och köparen. <br />
                Köpekontraktet upprättas av den lokala fastighetsmäklaren och här definieras alla försäljningsvillkor och exakta uppgifter om fastigheten, väjningsplikt, betalningar, 
                tillträdesdag och att lägenheten inte belastas av pantsättning vid tillträdet.<br />
                 Vid undertecknandet av ett temporärt köpekontrakt betalar köparen en deposition på mellan 10-20% av det överenskomna priset. 
                Skulle säljaren vilja drar sig ur efter att det temporära köpekontraktet undertecknats måste säljaren betala tillbaka dubbelt av köparens insättning, men om köparen vill dra sig ur förlorar köparen hela sin insättning.
                 Detta syftar till att skydda köparen från att säljaren säljer till en annan kund. Mellan den temporära uppgörelsen och slutliga köpekontrakt framför notarien väntar man mellan 1–3 månader. 
                Det är den tid som behövs för att iordningställa all dokumentation. Ibland är det dock möjligt att hoppa över det temporära köpekontraktet och bara göra det slutliga köpekontraktet.
            </p>
            <br />
            <h2>"CODICE FISCALE” och bankkonto i Italien</h2>
            <p>
                Köparen behöver upprätta ett så kallat ”Codice Fiscale” som är ett skattenummer, det kan ordnas hos närmsta lokala skattekontor (”Agenzia delle Entrate”) 
                i Italien eller hos den italienska ambassaden i Stockholm. Det måste föreligga ett köp en fastighet i Italien för att få öppna ett bankkonto och det kostar ingenting, 
                dock kan en månadsavgift förekomma. Det är viktigt och nödvändigt att ha både ”Codice Fiscale” och ett italienskt bankkonto för att göra det slutliga köpekontraktet.
            </p>
            <br />
            <h2>Öppna ett bankkonto i Italien</h2>
            <p>
                Köparen måste öppna ett italienskt bankkonto eftersom det kommer att bli nödvändigt att föra över pengar till det italienska bankkontot före undertecknandet av det slutliga köpekontraktet.
            </p>
            <br />
            <h2>Slutgiltigt köpekontrakt</h2>
            <p>
                Det slutgiltiga köpekontrakt skrivs under framför en notarie, den professionella auktoritet som verkställer en laglig försäljning. 
                Notariens uppgift är att kontrollera och garantera att fastigheten har en ren lagfart och ta hand om eventuella problem kopplat till fastigheten skulle förekomma. 
                Försäljningsskatter ska betalas av köparen och beloppet kommer att bero på vad taxeringsvärdet är på den fastigheten. 
                Köparen måste vara närvarande för att underteckna alla dokument framför notarien. Om köparen inte talar italienska biträds man av en kvalificerad översättare som har, 
                en verifierad av bl a Notarius Publicus i Sverige, fullmakt från köparen. I samband notariebesöket måste köparen betala kvarstående del av transaktionen, notarien, 
                transferskatt och alla andra kostnader som krävs för att fullfölja kontraktet. Transferskatten beräknas på taxeringsvärdet på den aktuella fastigheten.
            </p>
            <br />
            <h2>Omkostnader vid köp</h2>
            <p>
                När du köper ett hus eller lägenhet i Italien kommer du att behöva betala avgifter till den lokala involverade fastighetsmäklaren, transferskatt och avgift till notarien. Nedan listar och förklaras dessa avgifter.
            </p>
            <br />
            <h2>Transferskatt</h2>
            <p>
                I Italien har alla bostäder ett försäljningspris (det som betalas till säljaren) och ett taxeringsvärde. 
                Taxeringsvärdet registreras i "Catasto" (fastighetsregistret) och denna registreringsprocess kallas "Visura Catastale". 
                Taxeringsvärdet tenderar att vara lägre än det köparen betalar till säljaren. Transferskatt beräknas på taxeringsvärdet.
            </p>
            <br />
            <h2>Om du ska bo permanent i Italien</h2>
            <p>
                Om du bor eller planerar att ansöka om uppehållstillstånd inom 18 månader från att du undertecknat det slutliga köpekontraktet ska du betala en transferskatt på 3% av taxeringsvärdet på fastigheten, plus 180 Euro i avgift. Skatten höjs till 4% om du förvärvar fastigheten från ett företag.
            </p>
            <br />
            <h2>Om du ska ha din köpta fastighet som fritidsboende</h2>
            <p>
                Du ska betala en transferskatt på 10% av taxeringsvärdet på fastigheten, 18% på jordbruksmark om det finns någon. Köper du en fastighet för permanent boende inte ansöker om italienskt uppehållstillstånd inom 18 månader efter undertecknandet av det slutliga köpekontraktet, kommer du bli skyldig att betala ytterligare 7% på taxeringsvärdet samt böter.
            </p>
            <br />
            <h2>Noterieavgift</h2>
            <p>
                Notarieavgiften kommer att variera beroende på taxeringsvärdet på fastigheten och den valda notarien.
            </p>
            <br />
            <h2>Förmedlingsavgift</h2>
            <p>
                Den lokalt involverade fastighetsmäklaren och alla lokala fastighetsmäklare i Italien debiterar 3% provision plus 22% moms.
            </p>
            <br />
            <h2>När du äger en fastighet, hus eller lägenhet i Italien</h2>
            <i>Följande räkningar måste betalas, efter förbrukning:</i>
            <ul>
                <li>El (varannan månad)</li>
                <li>Gas (varannan månad)</li>
                <li>Telefon (varannan månad)</li>
                <li>Vatten (ca 3 gånger per år)</li>
                <li>Sopskatt (1 gång per år)</li>
                <li>Samfällighetsavgift för ägarlägenhet och hus med gemensam anläggning (varje månad)</li>
                <li>ICI, fastighetsskatt som betalas två gånger per år, i juni och i december</li>
            </ul>
            <br />
            <p>
                I sammarbete med:
            </p>
            <div class="col-md-3">
                <a target="_blank" href="http://www.cchomes.se/sv/">
                    <img src="https://mowido.blob.core.windows.net/icons/cchomes-logo.png" alt="City & Country Homes" />
                </a>
            </div>
            <div class="clear"></div>
            <br /><br /><br /><br />
            <h2>Guider för köp av bostäder utomlands</h2>
            <ul class="list-guides">
                <li>
                    <a href="@(Resources.Resources.Url_BuyingHome + "/portugal")"><i class="fa fa-globe" aria-hidden="true"></i> Att köpa bostad i Portugal</a>
                </li>
                <li>
                    <a href="@(Resources.Resources.Url_BuyingHome + "/spanien")"><i class="fa fa-globe" aria-hidden="true"></i> Att köpa bostad i Spanien</a>
                </li>
            </ul>
        </div>
    </div>
</div>
