@model BC.Web.Models.BaseViewModel

<div class="row">
    <div class="container about guide">
        <div class="col-md-8">
            <h1>@Model.Header</h1><br />
            <p>
                I Portugal finns ett stort utbud av bostäder gamla som nya, lägenheter och villor både på landsbygden och i stadskärnorna. 
                Populära områden är storstadsregionen Lissabon med kuststäderna Estoril och Cascais. Ett annat område som är populärt är den södra kustremsan Algarve och den nordvästra kusten som kallas Silverkusten. 
                Klimatet variera lite mellan de olika områdena och under januari och februari (dvs vinterperioden) ligger temperaturen någonstans mellan 15-20 grader i de centrala och södra områdena under denna tid. 
                Är man intresserad av att köpa något utöver det vanliga en såsom Bed&Breakfast, hästgård eller vingård kan även Alentejo vara av intresse. 
                Men det finns många fina områden i Portugal. I Portugal finns inga områden där bara svenskar bor utan man bor i samhället bland Portugiser, 
                vilket gör att det är lätt att komma in i det dagliga livet och få många nya vänner. 
                Fundera på syftet med ert köp, semesterboende eller permanentboende, budget, livsstil, läge och annat som kan vara av vikt för just er. 
            </p>
            <br />
            <h2>Att köpa bostad i Portugal</h2>
            <p>
                Om man vill köpa en bostad i Portugal finns det naturligtvis saker som man bör tänka på innan man gör avslut. Byråkratin kring en fastighetsaffär är tyngre varför det i en bostadsaffär behövs flera parter som är inblandade såsom en auktoriserad mäklare och en notarie. Vanligt är även att ha en advokat/jurist i Portugal som representant dig och är delaktig i bostadsaffären (oftast med en fullmakt). Advokat kan då tillsammans med mäklarbyrån se till att affären genomföras på ett korrekt sätt.
            </p>
            <p>
                I Portugal har mäklare inte ensamrätt på bostäder utan en mäklarbyrå har en portfolio av bostäder som man själv listat på den egna hemsidan men kan även visa andra mäklares ”listningar” av bostäder. Kontakta då en auktoriserad mäklarbyrå ni fått förtroende för, denna kan då bistå er i hela processen. 
            </p>
            <p>
                Till skillnad från Sverige är bostäderna i Portugal ägarbostäder dvs man äger sin lägenhet på samma sätt som man äger en villa i Sverige. Detta gäller även för eventuella parkeringsplatser och förrådsutrymmen i en fastighet. Man kan därför belåna sin fastighet precis som en friköpt villa i Sverige och betalar en årlig fastighetsskatt. För lägenheter i flerbostadshus (condominios, ibland även för fristående hus) finns det en gemensamhetsförening som tillser att de gemensamma utrymmena samt trädgårdsanläggningar och poolanläggning underhålls. Man betalar därför en ”Condominium fee”, dvs månadsavgift för detta underhåll som varierar beroende på den underhålls- och servicenivå gemensamhetsföreningen valt.
            </p>
            <p>
                I Portugal säljs en bostad i befintligt skick. Du som köpare är ansvarigt för att kontrollera bostaden innan du skriver på kontakt. Dolda fel ”begrepp” finns ej i Portugal. Din mäklare i Portugal kan rekommendera en oberoende byggnadsingenjör som gör en teknisk besiktning av bostaden.
            </p>
            <br />
            <h2>Budgivning</h2>
            <p>
                När man väl hittat en bostad man önskar köpa börjar mäklaren förhandla om försäljningsvillkoren såsom pris, inflyttningsdatum, lån och annat som kan vara av intresse.
                Om säljaren ej accepterar ”första budet” i ett budgivningsförfarande kan det som köpare vara aktuellt att höja sitt bud. Mäklaren förhandlar åt dig.
            </p>
            <br />
            <h2>Köpeprocess</h2>
            <p>
                När man väl kommit överens om priset och övriga villkor i fastighetsaffär kan man antingen göra en direktaffär där köpare och säljare möts hos notarien med samtlig dokumentation och affären genomförs vid en enda akt.
            </p>
            <p>
                Alternativt tecknar man ett löfteskontrakt där köpare och säljare kommer överens om villkoren för affären som avslutas vid överenskommen tidpunkt hos notarien. Löfteskontrakten är den vanligaste formen. I samband med löfteskontraktet erlägges en handpenning på 10 - 20 % av köpeskillingen.
            </p>
            <p>
                I normal fallet ses då köpare, säljare, notarie, mäklare och advokat efter 3 månader och skriver då ”slutkontraktet”. Tiden mellan löftes kontraktet och slutliga köpekontrakt används för att iordningställa all dokumentationen om bostaden och säljaren. Slutkontraktet registreras sedan med notarieakten som grund, säljare och köpare skriver under och ni är
                sedan ägare till en bostad i Portugal och inflyttning kan ske.
            </p>
            <p>
                För att köpa fastighet i Portugal måste man ha ett portugisiskt skattenummer. Oftast är det mäklaren som bistår dig med detta i samband med bostadsaffären. Men du kan även själv ansöka om detta, se bara till att du får ”rätt” skattenummer som speglar den bosättningsform du ämnar ha i Portugal. En köpehandling i Portugal skriv på portugisiska men kan på samma dokument även ha en engelsk översättning godkänd av advokat och notarie. Det är säljaren som betalar mäklararvodet, så du som köpare skall inte betala något till mäklaren vid förvärv av bostad. 
            </p>
            <br />
            <h2>Kostnader vid köp</h2>
            <ul>
                <li>
                    Transaktionsskatt IMT, varierar efter en skala (0-6 %) med ett maxbelopp (brytpunkt € 574.000)<br />
                    Exempel: vid ett köp för ca € 300 000 blir IMT skatten ca 4- 4,5 % vid köp.
                </li>
                <li>
                    Notarie ca € 400-700
                </li>
                <li>
                    Stämpelskatt med 0,8 % på försäljningsvärdet
                </li>
                <li>
                    Registreringsavgift av köp eller hypotek ca € 250
                </li>
            </ul>
            <p>
                Utöver dessa kostnader tillkommer eventuella advokatkostnader, låneuppläggningsavgifter, översättningar etc beroende på hur affären görs upp. Som enkel tumregel kan man utgå ifrån att omkostnaderna utöver transaktionsskatten, IMT, uppgår till 1 %.
                Portugal är ett av de länder i Europa som har lägst omkostnader vid köp.
            </p>
            <br />
            <h2>Bank och finansiering</h2>
            <p>
                Vad gäller finansiering så finns denna tillgänglig både hos lokala Portugisiskabanker som internationella. Undersök även med din svenska bank om de har möjlighet att bevilja lån till en bostad i Portugal. Lånevillkoren kan variera mellan bankerna. I de portugisiska bankerna kan lån beviljas till man är 75 år och man kan låna ca 70 % av köpeskillingen.
                Köparen bör även öppna ett bankkonto i Portugal eftersom detta underlättar i ert bostadsköp. Viktigt är även att till bankkontot få internet så ni kan betala framtida el, vatten och andra räkningar enkelt och smidigt.
            </p>
            <br />
            <h2>Boendeform i Portugal</h2>
            <p>
                Du kan antingen köpa din bostad som en semesterbostad eller som en permantebostad I båda fallen behöver du ett skattenummer för att förvärva bostaden. Mäklaren bistår dig.
            </p>
            <p>
                Om du önskar bo i Portugal permanent dvs skattskriva dig i landet kan man om man uppfyller de portugisiska lagkraven ansöka om Non habitual resident- ”NHR-status”.
                Portugal avstår då från beskattning av vissa pensionsinkomster. NHR-status beviljas i tio år från det att du bosätter dig i Portugal och bygger bland annat på att du de senaste fem åren före ansökan om NHR inte varit skattskyldig i Portugal.
            </p>

            <p>Skatteeffekten av detta, applicerat på din svenska tjänstepension (privat sektor), blir därmed:</p>
            <ul>
                <li>
                    0 % skatt i Sverige
                </li>
                <li>
                    0 % skatt i Portugal
                </li>
            </ul>
            <p>
                Övriga pensionsinkomster beskattas med 25 % i Sverige och 0 % i Portugal.
                Ta alltid kontakt med skatte, - och pensions expertis för att ta reda på vad som gäller just för dig.
            </p>
            <br />
            <p>
                I sammarbete med:
            </p>
            <div class="col-md-3">
                <a target="_blank" href="http://www.portugalmaklarna.se/">
                    <img src="https://mowido.blob.core.windows.net/icons/portugalmaklarna-logo.png" alt="PortugaMäklarna" />
                </a>
            </div>
            <div class="clear"></div>
            <br /><br /><br /><br />
            <h2>Guider för köp av bostäder utomlands</h2>
            <ul class="list-guides">
                <li>
                    <a href="@(Resources.Resources.Url_BuyingHome + "/italien")"><i class="fa fa-globe" aria-hidden="true"></i> Att köpa bostad i Italien</a>
                </li>
                <li>
                    <a href="@(Resources.Resources.Url_BuyingHome + "/spanien")"><i class="fa fa-globe" aria-hidden="true"></i> Att köpa bostad i Spanien</a>
                </li>
            </ul>
        </div>
    </div>
</div>
