@model BC.Web.Models.BaseViewModel

<div class="row">
    <div class="container about guide">
        <div class="col-md-8">
            <h1>@Model.Header</h1><br />
            <p>
                Att köpa en bostad i Spanien skiljer sig från att köpa en bostad i Sverige. Din mäklare kan erbjuda dig
                all den erfarenhet som behövs för att du ska känna dig bekväm och trygg i din bostadsaffär. Därför är
                det viktigt att ta hjälp av en registrerad mäklare när du köper bostad utomlands.
            </p>
            <p>
                På <a href="/">Mowido.se</a> hittar du enkelt och snabbt din drömbostad i Spanien. Vi samarbetar
                med många mäklare, t.ex. SkandiaMäklarna, som vägleder dig i de ekonomiska och juridiska frågor
                som kan uppstå.
            </p>
            <br />
            <h2>Har du hittat en bostad i Spanien du vill titta närmare på?</h2>
            <p>
                Kontakta den mäklare som ansvarar för försäljningen av bostaden och boka in en visning. 
                Under visningen erbjuder mäklaren dig en möjlighet att titta på de bostäder du är intresserad av samtidigt som du får tillfälle att bekanta dig med området. 
                Varje bostad som annonseras på <a href="/">Mowido.se</a> sälj av en registrerad mäklare.
            </p>
            <br />
            <h2>Priset på våra bostäder</h2>
            <p>
                Priset på spanska bostäder från SkandiaMäklarna är ett accepterat pris av säljare. I Spanien är det ovanligt med budgivning, 
                istället gör säljaren affär med den köpare som är beredd att betala det begärda priset eller det lägre pris man kommit överens om efter förhandling.
            </p>
            <br />
            <h2>Tilläggskostnader</h2>
            <p>
                När du köper en bostad i Spanien tillkommer en del kostnader utöver själva köpeskillingen. Generellt bör du räkna med ett tillägg till köpeskillingen om ca 10–13%.
            </p>
            <br />
            <h2>Skatter</h2>
            <p>
                Vid köp av nyproducerade bostadsfastigheter tillkommer en mervärdesskatt om 10% av köpeskillingen. Dessutom tillkommer en stämpelskatt om 1,5%.<br />
                När det gäller begagnade bostäder tillkommer en överföringsskatt om 8–10% beroende på region och köpeskillingens storlek. Dock utgår ingen stämpelskatt.<br />
                Kontrollera med din mäklare vilka skatter som gäller i just ditt fall!
            </p>
            <br />
            <h2>Notariekostnader</h2>
            <p>
                Köparen står också för notariens arvode då parterna utväxlar köpekontraktet. Den verkliga kostnaden här kan vara svår att på förhand uppskatta då en rad olika faktorer spelar in, 
                men en ganska god tumregel är att det handlar om 0,5% av köpeskillingen.
            </p>
            <br />
            <h2>Registreringsavgifter</h2>
            <p>
                Registreringen i fastighetsregistret under den nya ägaren medför ytterligare kostnader. 
                Återigen handlar det om en kostnad som är svår att ge ett exakt värde på, men även här är en god tumregel är 0,5% av köpeskillingen.
            </p>
            <br />
            <h2>Anslutningsavgifter</h2>
            <p>
                Vid tillträdet tillkommer anslutningsavgifter och/eller avgifter för abonnemangsbyte för vatten och avlopp, elektricitet, samt eventuell gas.
            </p>
            <br />
            <h2>Hur går köpet till?</h2>
            <p>
                När du och säljaren tillsammans med mäklaren har kommit överens skrivs ett köpekontrakt, där bland annat pris och tillträdesdatum anges. I samband med detta betalar du också en handpenning, oftast 10 procent av köpeskillingen, som ett bevis på att du kommer att fullfölja affären.<br />

                På de flesta bostäder erbjuds tillträde omgående, men det vanliga är att dina förberedelser (t.ex. finansiering och NIE-nummer) gör att tillträdet sker 30–45 dagar efter kontraktsskrivning. På tillträdesdagen får du nycklarna och kan flytta in.<br />

                Har du fler frågor inför ditt köp av bostad i Spanien är du välkommen att kontakta SkandiaMäklarna för ytterligare information.
            </p>
            <br />
            <h2>NIE-nummer</h2>
            <p>
                För att kunna äga en bostad i Spanien behöver du ha ett spanskt skatteidentifikationsnummer, ett så kallat NIE-nummer. 
                Först då kan du öppna ett bankkonto och skriva på lagfarten. Ett NIE-nummer ansöker du om hos den spanska polisen, den spanska ambassaden eller konsulatet i Sverige. 
                Det enklaste är kanske att göra det via ett ombud genom en fullmakt från spanska ambassaden eller konsulatet i Sverige, alternativt på en spansk polisstation. 
                Att skaffa ett NIE-nummer tar lite olika lång tid beroende på vilken del av Spanien du befinner dig. Din mäklare hjälper dig med all administration och korrespondens.
            </p>
            <br />
            <h2>Lagfarten</h2>
            <p>
                Lagfarten registreras på landregistret, detta tar ca 2–3 månader. När den är inskriven efter att alla skatter och avgifter är betalda får du tillbaka den med inskrivningsbeviset.
            </p>
            <br />
            <h2>Notarius publicus</h2>
            <p>
                Notarius publicus är en officiellt utsedd jurist som i detta fall har som uppgift att kontrollera parternas identitet och Notarien kontrollerar ALDRIG bostadens skick, 
                du som köpare är ansvarig för att kontrollera bostaden innan du skriver på, i Spanien gäller köp av begagnade bostäder ”befintligt skick”. 
                Notarien informerar om bostadens skulder om det finns några och kontrollerar att betalningen som är gjord till säljaren är rätt gjord enligt spansk lag och att säljaren har fått sina pengar innan han/hon skriver på. 
                De upprättar också köpebrevet som ligger till grund för din lagfartsansökan.
            </p>
            <br />
            <h2>Undersökningsplikt</h2>
            <p>
                Som köpare är du ansvarig för att noggrant undersöka bostaden innan du skriver på köpekontraktet. 
                Alternativt ska avsteg från detta villkoras i köpekontraktet. Din mäklarna i Spanien kan rekommendera ett antal duktiga oberoende tekniska arkitekter.
            </p>
            <br />
            <p>
                I sammarbete med:
            </p>
            <div class="col-md-4">
                <a target="_blank" href="http://www.skandiamaklarna.se/spanien">
                    <img src="https://mowido.blob.core.windows.net/icons/skandia-logo.jpg" alt="Skandia Mäklarna Spanien" />
                </a>
            </div>
            <div class="clear"></div>
            <br /><br /><br /><br />
            <h2>Andra guider för köp av bostäder utomlands</h2>
            <ul class="list-guides">
                <li>
                    <a href="@(Resources.Resources.Url_BuyingHome + "/italien")"><i class="fa fa-globe" aria-hidden="true"></i> Köpa bostad i Italien</a>
                </li>
                <li>
                    <a href="@(Resources.Resources.Url_BuyingHome + "/portugal")"><i class="fa fa-globe" aria-hidden="true"></i> Köpa bostad i Portugal</a>
                </li>
            </ul>
        </div>
    </div>
</div>
